# Installations
pip==20.2.3
https://pip.pypa.io/en/stable/installing/

# Graphics and data visualization
pygame==2.0.1


# Using ics files
ics==0.7


# Create Accounts
pickle-mixin==1.0.2


# web_scraper
beautifulsoup4~=4.9.3
https://www.crummy.com/software/BeautifulSoup/bs4/doc/


future~=0.18.2
requests~=2.22.0

# if beautiful soup isntall doesnt work
$ pip install beautifulsoup4

# if pickle install doesnt work
$ pip install pickle-mixin

# if ics install doesnt work
$ pip install ics

# if pygame install doesnt work
pip install pygame

# if pip install doesnt work run get-pip.py
# and follow these instructions https://pip.pypa.io/en/stable/installing/
